body {
  margin: 0;
  margin-bottom: 5em;
  padding: 0;
  font-family: BentonSans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(248, 248, 248);
}

header {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 5em;
  margin-bottom: 3em;
  background-color: white;
  margin: 2em 2em 0em 2em;
  padding: 0.5em;
  /* border: 6px double black; */
  border-radius: 0px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

img {
  width: 5em;
  height: 5em;
  border: double #9448bc 6px;
  border-radius: 10px;
}

.app {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #7699d4;
}

.header-1-c {
  display: flex;
  width: 33%;
  padding-left: 0.5em;
  /* border: solid black 1px; */
}
.header-2-c {
  display: flex;
  align-items: center;
  align-content: center;
  width: 33%;
}
.header-3-c {
  display: flex;
  float: right;
  width: 33%;
}

.login {
  display: flex;
  align-items: center;
  float: right;
  margin: auto;
}

.login-btn {
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 1em;
  background-color: rgb(236, 236, 236);
  color: black;
  width: auto;
  border-radius: 5px;
  /* border: solid darkgray 2px; */
  padding: auto;
  height: auto;
  /* box-shadow: 0 0 0 1px darkgray, 0.2em 0.2em 1px 0 #47035523; */
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: auto;
  margin: auto;
}

.search-input {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9448bc;
  color: white;
  overflow: hidden;
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #90fcf9;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: white;
}

.left-column {
  display: block;
  margin: auto;
  width: 90%;
}

.right-column {
  display: block;
  float: right;
  width: 25%;
  border: solid blue 1px;
  float: none;
}

.forum,
.post {
  padding: 0.5em 0.5em 3em 0.5em;
  width: 100%;
  background-color: #90fcf9;
  border: 1px solid #480355;
  box-shadow: 0 0 0 3px #7699d4, 1em 1em 3px 0 rgba(0, 0, 0, 0.247);
  margin-top: 2em;
  border-radius: 10px;
}

.create-post {
  display: block;
  margin: auto;
  padding: 0.5em 1em 0.5em 1em;
}

.create-post-btn {
  padding: 0.5em 1em 0.5em 1em;
  background-color: rgb(236, 236, 236);
  color: black;
  width: auto;
  border-radius: 5px;
  padding: auto;
  height: auto;
}

.h2-bar {
  width: auto;
  background-color: white;
  /* margin: 1em auto 1em auto; */
  margin: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 2px solid #7699d4;
  border-radius: 10px;
}

.forum-post-preview {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: white;
  margin: 0.5em;
  padding: auto;
  border: 1px solid #7699d4;
  border-radius: 15px;
}

.post-stats {
  font-size: medium;
  color: rgb(107, 107, 107);
  text-align: left;
}

.comment {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: white;
  margin: 0.5em;
  /* padding: 0.5em 1.5em 0.5em 1.5em; */
  padding: 0.5em;
  padding: auto;
  border: 1px solid #7699d4;
  border-radius: 10px;
}

.avatar-display {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  float: left;
  width: 20%;
  margin: auto;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.content-preview {
  padding: 1em;
  color: rgb(107, 107, 107);
  border-left: solid black 1px;
  margin: auto;
  padding: auto;
  width: 75%;
}

.username-font {
  text-align: center;
  font-size: medium;
}

.comment-content {
  display: flex;
  float: right;
  margin: 0.1em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  width: 80%;
  border-left: solid #9448bc 1px;
  text-align: justify;
}

.date {
  font-size: small;
}

.create-comment {
  display: block;
  padding: 0.5em;
  border: solid black 1px;
}

.comment-input {
  display: block;
  height: 5em;
  width: 80%;
  text-align: left;
  border-radius: 5px;
  /* margin: 1em; */
  padding: 0.5em 1.5em;
  font-size: large;
  word-wrap: break-word;
}

.button {
  background-color: #9448bc;
  color: white;
  width: auto;
  border-radius: 10px;
  border: solid #7699d4 2px;
  padding: 1em;
  height: auto;
  /* box-shadow: 0 0 0 1px #480355, 0.3em 0.3em 1px 0 #47035523; */
}
