body {
  margin: 0;
  margin-bottom: 5em;
  padding: 0;
  font-family: BentonSans, sans-serif;
  font-weight: 500;
  background-color: rgb(248, 248, 248);
}

header {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 500;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 5em;
  margin-bottom: 3em;
  background-color: white;
  margin: 2em 2em 0em 2em;
  padding: 0.5em;
  /* border: 6px double black; */
  border-radius: 0px;
}

.app {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
}

.login {
  display: flex;
  align-items: center;
  float: right;
  background-color: lightgrey;
  padding: 1em;
  margin: auto;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: auto;
}

.search-input {
  /* display: block; */
  /* float: right; */
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9448bc;
  color: white;
  overflow: hidden;
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #90fcf9;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: white;
}

.left-column {
  display: block;
  margin: auto;
  width: 80%;
}

.right-column {
  display: block;
  float: right;
  width: 25%;
  border: solid blue 1px;
  float: none;
}

.forum,
.post {
  padding: 0.5em 0.5em 3em 0.5em;
  width: 100%;
  background-color: #90fcf9;
  border: 1px solid #480355;
  box-shadow: 0 0 0 3px #7699d4, 1em 1em 3px 0 rgba(0, 0, 0, 0.247);
  margin-top: 2em;
  border-radius: 10px;
}

.h2-bar {
  width: auto;
  background-color: white;
  /* margin: 1em auto 1em auto; */
  margin: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 2px solid #7699d4;
}

.forum-post-preview {
  width: auto;
  /* margin: auto; */
  background-color: white;
  margin: 2em 2em 0em 2em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border: 1px solid #7699d4;
  /* box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%); */
  border-radius: 15px;
}

.content-preview {
  color: rgb(107, 107, 107);
}

.post-stats {
  font-size: small;
  color: rgb(107, 107, 107);
}

.create-comment {
  padding: 0.5em;
}

.comment {
  width: auto;
  /* margin: auto; */
  background-color: white;
  margin: 2em 2em 0em 2em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border: 1px solid #7699d4;
  /* box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%); */
  border-radius: 10px;
}

.comment-input {
  height: 5em;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 0em;
  font-size: large;
  word-wrap: break-word;
}

.button {
  background-color: #9448bc;
  color: white;
  width: auto;
  border-radius: 10px;
  border: solid #7699d4 2px;
  padding: 1em;
  height: auto;
  /* box-shadow: 0 0 0 1px #480355, 0.3em 0.3em 1px 0 #47035523; */
}

.button:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.button:active {
  transform: translateY(2px);
}
